*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* background-image: url(); */



/*1) top level weapper grid keeya so topplayerdetails innerdiv and newgametext sb mid m aaske 
than useke andr ek or grid leeya tictactoe waala  */
/* 2 gridcontatinertictaetoe ke childitesmsgrid ko flex b bnaa deeya to placeits content allthewaycenter*/
.wrapper
{
    height: 100vh;
    width: 100vw;
  
    background-image: url("gradient-bg.jpg");
    /* background-color: black; */
    /* background-image: radial-gradient( red 900px, blue 10px,green 2px); */
    /* background-image: linear-gradient(rgb(254, 89, 89), rgb(222, 82, 222), rgb(77, 69, 69)); */
    display: grid;
    place-items: center;
    grid-gap: 30px;
}
.gridParentdivtictactoe
{

    /* height: 10%; */
    max-width: 90%;
  
    
    display: grid;
    grid-gap: 1px;

    /* background-color: rgba(255,255,255,0.15); */
    background-color: rgba(255,255,255,0.12);
  
    backdrop-filter: blur(9px);
    
    border-radius: 1rem ;
    border: 1px solid  #ffffff40;
    grid-template-rows: 120px 120px 120px;
    grid-template-columns: 120px 120px 120px;
    
    padding: 2rem;
    aspect-ratio: 1/1;
    
    justify-content: center;
    align-content: center;
    

}
.innercontainergrid
{
   
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   
    


}

#Gridchild1 , #Gridchild4 
{
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    
    
}


#Gridchild3 , #Gridchild6
{
    border-left: 3px solid white;
    border-bottom: 3px solid white;
}
#Gridchild7 
{
    
    border-right: 3px solid white;
}
#Gridchild9 
{ 
    border-left: 3px solid white;

}
#Gridchild2 , #Gridchild5
{
    border-bottom: 3px solid white;
}




.btn
{    
    font-size: 19px;
    height: 40px;
    width: 2px;
    /* color: aqua; */
    /* background-color: none; */
    background-color: rgba(255,255,255,0.12);
    border: 1px solid rgba(255,255,255,0.22);
    width: 140px;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.GameInfo
{

    height: 50px;
    width: 120px;
    color: white;
    background-color: rgba(255,255,255,0.12);
    /* text-align: center; */
    display: flex; /*i can make it flex to place written text in center row and col wise i.e main and cross axis ke along*/
    justify-content: center;
    align-items: center;

    border-radius: 1rem;
    font-size: 24px;
    width: 300px;
    /* filter:back; */
    backdrop-filter:blur(1px);
    /* filter: drop-shadow(2px 1px 31px red); */
}

.wincolor
{
    background-color: green;

}
.inactive
{
    display: none;
    scale:0;
}
.active
{
    display: flex;
    scale: 1;
}