*{
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
}

/* ex1 .outerdiv{
                    height: 80vh;
                    width: 50vw;
                    background-color: lightpink;
                    border: 2px solid black;

                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    /* grid-auto-rows:minmax(10px,auto) ; */
                    /*minimum size is 100px but still maximum
                    it will handle ,still after certain point it will overflow in no of rows*/
                    /* gap: 8px; */
                    /* grid-template-rows: 30px 200px 1fr 30px; */

                    /* grid-template-areas: /*gta and ga  used together and its] */
                    /* concept of naming instead of (rowspan [gcs gce] and colspan[grs gre] )*/ 
                    /* "tophead tophead" /*VERY IMP POINT as i will increase this row itself gonna increase even i  */
                    /* didnt set grid-auto-rows*/ 
                    /* "side main" */
                    /* "side main" */
                    /* "footer footer"; */
/* } */ 

/*ex2 nested grid + complex grid example  */
.outerdiv{
                    height: 100vh;
                    width: 100vw;
                    background-color: lightpink;
                    border: 2px solid black;

                    display: grid;
                    /* grid-template-columns: repeat(5,1fr); */
                    grid-template-columns: 35vw  10vw 10vw 10vw 35vw;
                    /* grid-auto-columns: auto; when not giving auto*/
                    /* grid-auto-rows:minmax(10px,auto) ; */
                    /* grid-template-rows: 1fr 1fr 1fr 1fr 150px; */
                    grid-template-rows: 20vh 20vh 20vh 20vh 20vh; /*give rows and col width and height acc to height in vw/vh of parent grid*/

                    /*minimum size is 100px but still maximum
                    it will handle ,still after certain point it will overflow in no of rows*/
                    gap: 8px;
                    /* grid-template-rows: 1fr 1fr 1fr; */
                    /* grid-auto-rows: minmax(100px , auto); */

                    grid-template-areas: /*i observed if i dont give gridtemplate rows or columns
                    it automatically takes col and rows(but at some limit more it will overflow)
                    so give always [GRID-TEMPLATE-ROWS AND GRID-TEMPLATE-COLUMNS]
                     but to give its height and width 
                    so it wont attach with each other or lets say fix size boxes if i need
                    there i might needed it OR BEST PRACTICE ACC TO no of names i give and rows i make
                    make that much no of rows right? so to give exact size*/
                    "leftside topmid  topmid topmid toprightside" 
                    "leftside topmid  topmid topmid toprightside" 
                    "leftside mid  mid mid bottomright"
                    "leftside mid mid mid bottomright"
                    "leftside mid mid mid bottomright"

                    ;
                   
}

#box1
{
                   grid-area :leftside;
}
#box2
{
                    grid-area: topmid;
                    

}

#box3
{
                    grid-area: toprightside;
}

#box4
{
                    grid-area: mid;
                    display: grid;
                    grid-template-rows: repeat(2 ,1fr);
                    /* grid-template-columns: repeat(2,1fr); */
                    grid-template-columns: 15vw 15vw ;
                    gap: 8px;
}
.subboxDivsubbox
{
                    border: 4px solid black;
                    /* height: 1; */
                    width: 15vw; /*gap ignore kr 15 vw bcz d child box comes in 10+10+10 vw*/
                    background-color: yellow;
                    /* width: 100vh; */
}
#box5
{
                    grid-area: bottomright;
}
/**************************/
/* ex1
#box1
{
                    grid-area:tophead;
}
#box2
{
                    grid-area: side;
}
#box3
{
                    grid-area: main;
}
#box4
{
                    grid-area: footer;
} */
.griditems
{
                    background-color: red;
                    border: 1px solid black;
                    /* height:8vh ; */
                    /* width: 8vw; */
}


/**Ex2/

