




/* 1 */
 body {
    background-color: #010606;
   
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    overflow-y: hidden;
    overflow-x:hidden;
  }
  

  /* 2 */
/* .topwrapper */
/* { */
    /* perspective: 5000px ; */
    /* jeetna jyada utnaa z axis ke along/depth/away from screen */
  
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
    /* background-color: rgb(10, 9, 9); */
    /* display: flex; */
    /* justify-content: center; */
     /*to bring card in center made top wrapper flex*/
    /* align-items: center; */

/* } */



/* 3 */
.circle1 {
    transform-style: preserve-3d;
    transform: translateZ(-2020px) scale(0.6);

    position: absolute;
    top: 5%;
    left: 30%;
    width: 13em;
    height: 13em;

    /*x , y , spread , color ~syntax dropshadow*/
  

    border-radius: 100%;
 


    background: linear-gradient(-25deg, #ffffff, #7b5579);
    

    /* /syntax x , y , blur, spread */
    box-shadow: 18px 15px 25px 1px rgb(250, 249, 249),
    -10px -15px 32px  3px rgb(178, 169, 166);



    animation-name: kush-circlefirst;
    animation-duration: 20s; /*animation start se end kitne der m khtm*/
    animation-delay: 0ms;
    animation-timing-function:alternate;
    /* animation-iteration-count: 9; */
  }
@keyframes  kush-circlefirst /*maine kush-circle-sec bnaya bs or kush-circlefirst
ke all values bs reverse krde all+ became -ve
all -ve became +ve*/
  {
    0%
    {
        /* transform: translateY(0%); */
        /* //size se rkhna h plus rukna nahi deekhana so used 0% */
        width: 8em;
        height: 8em;
    }
     /* top */
    20%  
    {
        transform: translateY(250%) ;
        
        /* transform: scale(1); didnt used above + transform translateZ too,so no need to use here too..*/

        width: 12em;
        height: 12em;

    }
/* topleft */
    40%
    {
        transform: translateX(220%) translateY(260%); /* ek saath lejana hoga
        kuke space m aake top pr aake top left jaane mae space maths b lagega so y bhee if x  
        but iske theek parallel mae need ne h bcz m already neeche aagya*/
        
        /* transform: scale(1); didnt used above + transform translateZ too,so no need to use here too..*/

        width: 12em;
        height: 12em;
    }

    60%
    {
        transform: translateY(0%) translateX(200%);
        width: 12em;
        height: 12em; 
    }
    100%
    {
        transform: translateX(0%) ;
        width: 12em;
        height: 12em;
    }
   

  }

  .circle2 {
    /* position: fixed; */
    position: absolute;
    transform-style: preserve-3d;
    /* transform: translateZ(-1820px) scale(0.8); */
    transform: translateZ(-2020px) scale(0.7);
    bottom: 5%;
    right: 30%;
    width: 19em;
    height: 19em;
    border-radius: 50%;
    box-shadow: 0 0 100px #5648d8;
    /* background: linear-gradient(-25deg, #d2d1d6, #8641f4); */
    background: linear-gradient(-25deg, #ffffff, #f8a32b);
    /* animation: circle2 Animate 8s infinite; */
    animation-name: kush-circle-sec;
    animation-duration: 20s; /*animation start se end kitne der m khtm*/
    animation-delay: 0ms;
    animation-timing-function:alternate;

     /* /syntax x , y , blur, spread */
     box-shadow: 10px 5px 35px 3px rgb(244, 4, 20),
    -10px -5px 42px  1px rgb(248, 248, 96);
  }

@keyframes kush-circle-sec
{
    0%
    {
        /* transform: translateY(0%); */
        /* //size se rkhna h plus rukna nahi deekhana so used 0% */
        width: 8em;
        height: 8em;
    }
     /* top */
    20%  
    {
        transform: translateY(-250%) ;
        
        /* transform: scale(1); didnt used above + transform translateZ too,so no need to use here too..*/

        width: 12em;
        height: 12em;

    }
/* topleft */
    40%
    {
        transform: translateX(-220%) translateY(-260%); /* ek saath lejana hoga
        kuke space m aake top pr aake top left jaane mae space maths b lagega so y bhee if x  
        but iske theek parallel mae need ne h bcz m already neeche aagya*/
        
        /* transform: scale(1); didnt used above + transform translateZ too,so no need to use here too..*/

        width: 12em;
        height: 12em;
    }
    /* top bottom */
    /* 60%
    { */
        /* transform: translateY(250%),translateX(-200%) ; ek saath lejana hoga */
        
        /* transform: scale(1); didnt used above + transform translateZ too,so no need to use here too..*/
/* 
        width: 12em;
        height: 12em; 
    } */
    60%
    {
        transform: translateY(0%) translateX(-200%);
        width: 12em;
        height: 12em; 
    }
    100%
    {
        transform: translateX(0%) ;
        width: 12em;
        height: 12em;
    }
   
}



/* 4 */
/* NOTE ~~>VVVVVVVIMP
card m blur uske piche circle ke blur se aaya 
+ absolute positioning
+  backdrop-filter: blur(7px);*/
.content_div /*minecode*/
{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        /* margin  : cal()); */
        

        /* width: 350px; *****notenotenotenote----->scale property use krra so no need of this now*/
        /* height: 650px; */
        /* background: #de26261a; dont use transparency nahi show hoge bcoz
        circle se blur show hora card pr*/
        /* background: rgb(183, 154, 154); */
        /* transform-style: preserve-3d; */
        background: rgba(245, 242, 244, 0.19);
        position: absolute;
        top: 130px;
        left: 650px;
        width: 10px;
        height: 100px;
        border: 3px solid rgb(255, 255, 255, 0.5);
        backdrop-filter: blur(8px);
        
        /*seen from mdn less value good blur
        actual blur background me card ke piche*/

        /* filter: drop-shadow(10 10mm 1mm  rgb(233, 46, 26)); 
        is like shadow peeghlna element sae piche nae balki whee aajate
        h shadow peeghlte hue
        drop shadow means here-----> jha lgaya ye uske andr ke sb child + present element mae b lagega ye */


        /* transform-style: preserve-3d; button to on 3d game jhaa 3d chaihye whaa use kro isko see more from parallax website */
        border-radius: 28px; 
        /* height: 550px; */
        /* overflow: hidden;  */
    } 


    /*modern button ke time keeya thaa ye ~but abhi need ne h iske...*/
/* .content_div_blur::before */
/* { */
    /* content: " "; */
    /* position: absolute; */

    /* height: 100vh; */
    /* width: 100vw; purae mae chaihyte muje thats why heigh and width leeya mae */
    /* top: 100%;
    left: 100%;
    right: 100%;
    bottom: 100%; */

    /* backdrop-filter: 4px; */
    /* opacity: 75%; */
    /* background-color: rgb(168, 155, 155); */
/* } */






/* 5 */
.new-font
{
    font-family: EB Garamond;
    margin-top: 2110px;
}


/* 6 */
#FSTD
{
    /* margin-left: 12vw; */
}
#FSTD:hover /*used psuedo selector*/
{
    transform:scale(1.2) translateX(1%);
    transition : all linear 0.2s; 
    
}

/* 7 */
.modal-div
{
    position:fixed;

    width: 28vw;
    height: 25vh;


    background: #00000088;/*color matter krta h bhot*/
    backdrop-filter: blur(10px);
    /* color: white; */
    

  
    border-radius: 18px;
      
    
    /* left:36%; */
    top:60%;

    opacity: 0;
    pointer-events: auto;
    
}


.modal-div_ANIMATION
{
    /* animation: muje krte he nahi rehena balki specific phase pr chlana so using transition; */

    transition-property:all ;
    transition-timing-function: linear;
    transition-delay: 0ms;
    transition-duration: 0.189s;
    /* transition */
}




/* #8 */

/*not possible if i hover on something and it iwll blur diff elements
and that element is above of [elementonwhichIhover]*/
/* #shareProf:hover 
{
    filter: blur(10px);
} */

/* 9 */
.unorderedlist-of-social-media-icons
{
    /* margin-left: 20%; */
    width: inherit; /*i used inherit so i can make width acc to card
    bcoz mae website flexible bnaunga future*/
    /* background-color: inherit; */
    /* gap:10%; */
    
    justify-content: space-evenly;
    /* align-items: center; */
    /* margin-bottom: 50%; top use kraa wa tailwind so no need of it */

    

    
}

/* {
    } */
    
    /* 10th */
/* .shareclass:hover .topwrapper + .modal-div{ can' be achieved had to use css */
    /* filter: opacity(1); */
    /* background-color: red; */

/* } */



/* 11 */

.iconcross
{
    /* pointer-events: none; */
}
.iconcross:hover
{
    transform: scale(1.1);
    color:rgb(255, 6, 6);
    transition:  all 0.01s cubic-bezier(0.075, 0.82, 0.165, 1);
}


/* 12 */
.icon-class:hover
{
    transform: scale(1.3);  
    transition:  all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}


